
.card {
	position: relative;
	background: var(--dark-blue);
	width: min(19rem);
	padding: 2rem;
	border-radius: var(--radius);
	margin-top: 3rem;

	.card__art {
		height: 100%;
		position: absolute;
		inset: 0;
		top: -3rem;
		z-index: -1;
		border-radius: var(--radius);
		overflow: hidden;

		img {
			position: absolute;
			right: 0;
			top: -.5rem;
			right: 1rem;
		}
		
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		margin: 0;
		font-size: 1.3rem;
		font-weight: 500;
	}
	
	&__dots {
		display: flex;
		align-self: center;
		color: #BBC0FF;
		padding: .2rem;
		margin-right: -.2rem;
		
		transition: color 150ms ease-out;
		cursor: pointer;

		&:hover {
			color: white;
		}
	}

	&__body {
		font-weight: 300;

	}
	
	&__current-time {
		margin: 2rem 0 .5rem;
		font-size: 3.5rem;
	}
	
	&__previous-time {
		font-size: .9rem;
		color: var(--pale-blue);
		font-weight: 400;
	}
}

@keyframes fadeInOut {
	0%, 100% {
		opacity: 1;
	}
	45%, 55% {
		opacity: 0;
	}
}

.fade {
	animation: fadeInOut 2s ease-in;
}