@use "./variables" as var;

*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	font-family: "Rubik", sans-serif;
	font-size: 1.12rem;
	color: white;
	background: var(--darker-blue);
}

.container {
	display: grid;
	justify-content: center;
	align-content: center;;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.5rem;
	
	min-height: 100vh;
	max-width: 50em;
	margin-inline: auto;

	@media (max-width: var.$vw-tablet) {
		grid-template-columns: 1fr 1fr;
		max-width: 35em;
	}

	@media (max-width: var.$vw-mobile) {
		grid-template-columns: 1fr;
		justify-items: center;
	}
}

.profile-card {
	grid-row: 1 / 3;
}
